* {
  margin: 0;
  padding: 0;
  overflow-wrap: hidden;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.mainIndex {
  background-image: url(../assets/img/index.jpg);
  background-size: cover;
  background-position: center;
  height: 960px;
  width: 100%;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex {
    height: 450px;
    background-position: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .mainIndex {
    height: 600px;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .mainIndex {
    height: 700px;
    background-position: center;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .mainIndex {
    height: 800px;
    background-position: center;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .mainIndex {
    height: 800px;
    background-position: center;
  }
}
@media screen and (min-width: 1401px) {
  .mainIndex {
    height: 900px;
    background-position: center;
  }
}
.mainIndex .titulo {
  text-align: center;
  margin: 20% 0;
}
.mainIndex .titulo p {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 14px white;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex .titulo p {
    font-size: 30px;
  }
}
.mainIndex .titulo h1 {
  color: aliceblue;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0 0 14px white;
  margin: -30px;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex .titulo h1 {
    font-size: 70px;
  }
}
.mainIndex .titulo .scrollDown {
  margin-top: 160px;
  font-size: 16px;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex .titulo .scrollDown {
    margin-top: 80px;
    font-size: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .mainIndex .titulo .scrollDown {
    margin-top: 100px;
  }
}

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: top;
  width: 20px;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav .container-fluid {
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
nav .container-fluid a .logo {
  width: 120px;
  padding: 10px;
}
nav .container-fluid .navbar-toggler {
  background: #bcbebc;
}
nav .container-fluid .collapse .navbar-nav {
  margin-left: auto;
}
nav .container-fluid .collapse .nav-item {
  font-size: 16px;
  margin: 2px 10px;
  width: max-content;
  height: max-content;
  padding: 1px 8px;
  color: white;
  border-radius: 0.7em;
  transition-duration: 1s;
}
nav .container-fluid .collapse .nav-item:hover {
  background-color: #2F8233;
  box-shadow: 0 0 20px #49C97C, 2px 2px #2F8233;
}
nav .container-fluid .collapse .nav-item .nav-link {
  color: white;
  text-decoration: none;
}

.header {
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header .nav .logo {
  width: 120px;
  padding: 10px;
}
.header .nav .navMenu {
  display: flex;
  margin-right: 40px;
  padding: 10px;
  list-style: none;
}
.header .nav .navMenu .navMenuItem {
  font-size: 14px;
  margin: 10px 10px;
  line-height: 30px;
  width: max-content;
  height: max-content;
  padding: 1px 12px;
  color: white;
  border-radius: 0.7em;
  transition-duration: 1s;
}
.header .nav .navMenu .navMenuItem:hover {
  background-color: #2F8233;
  box-shadow: 0 0 20px #49C97C, 2px 2px #2F8233;
}
.header .nav .navMenu .navMenuItem .navMenuLink {
  color: white;
  text-decoration: none;
}

section h2 {
  font-size: 40px;
  margin: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 0.7em;
  transition-duration: 1s;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px 10px #2F8233;
}
section h2:hover {
  color: white;
  background-color: #2F8233;
  box-shadow: 0 0 20px #49C97C, 2px 2px #2F8233;
}
section h2 .link {
  color: black;
  text-decoration: none;
}
section .proyectosIndex {
  height: 600px;
  font-size: 20px;
  display: flex;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-content: space-around;
}
section .proyectosIndex .Proyectos {
  text-align: center;
  justify-content: center;
  width: 650px;
  margin: auto;
  padding: 0.5em 1em;
  text-shadow: 3px 3px 14px #000000;
}
section .proyectosIndex .Proyectos iframe {
  box-shadow: 3px 3px 14px #000000;
}

.habilidades {
  padding: 80px;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .habilidades {
    padding: 5px;
  }
}
.habilidades .container {
  background-color: rgb(51, 49, 49);
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  border-radius: 30px;
}
.habilidades .container h4 {
  font-size: 24px;
  text-shadow: 3px 3px 14px #ffffff;
}
.habilidades .container p {
  line-height: 1.5em;
}
.habilidades .container s .row {
  padding: 40px;
}

.tarjetaServicios {
  background-image: url(../assets/img/fondoservicios.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px;
}
.tarjetaServicios h2 {
  color: aliceblue;
  text-align: center;
  text-shadow: 1px 1px 10px #929292;
}
.tarjetaServicios .contacto {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 0 auto;
}
.tarjetaServicios .contacto .recuadro-contacto {
  text-align: center;
  width: 350px;
  height: 450px;
  margin: 50px 20px;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px black;
}
.tarjetaServicios .contacto .recuadro-contacto img {
  width: 100px;
  height: 80px;
}
.tarjetaServicios .contacto .recuadro-contacto h4 {
  color: aliceblue;
}
.tarjetaServicios .contacto .recuadro-contacto p {
  font-size: 18px;
  text-shadow: 1px 1px 10px #929292;
  padding: 30px 0;
  font-weight: bold;
  text-align: center;
  color: aliceblue;
}
@media screen and (max-width: 576px) {
  .tarjetaServicios .contacto .recuadro-contacto {
    margin: 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .tarjetaServicios .contacto .recuadro-contacto {
    margin: 20px;
  }
}

footer {
  text-align: center;
}
footer div {
  margin: 30px;
}
footer div a img {
  width: 120px;
  padding: 30px;
  transition: 1s;
}
footer div a img:hover {
  scale: 1.1;
}

section {
  display: flex;
  justify-content: center;
}
section .sobreMi {
  background-color: rgb(51, 49, 49);
  color: aliceblue;
  text-align: center;
  margin: 100px;
  font-size: 20px;
  border-radius: 30px;
  width: 1300px;
  text-shadow: 3px 3px 14px #ffffff;
}
section .sobreMi h3 {
  padding-top: 10px;
}
section .sobreMi p {
  margin: 0 auto;
  width: 960px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  section .sobreMi p {
    width: 768px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  section .sobreMi p {
    width: 576px;
    margin: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  section .sobreMi p {
    width: 320px;
    margin: 4px;
  }
}
section .sobreMi .CV {
  margin: 20px;
}
section .sobreMi .CV .descargarCV {
  background-color: #2F8233;
  text-decoration: none;
  color: aliceblue;
  padding: 8px;
  border-radius: 25px;
  margin-top: 200px;
}
section .sobreMi .lenguajeIconos {
  margin: 30px;
}
section .sobreMi .lenguajesProgramacion {
  display: flex;
  justify-content: space-around;
}
section .sobreMi .lenguajesProgramacion img {
  width: 200px;
  height: 150px;
  margin: 50px 0px;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  section .sobreMi .lenguajesProgramacion img {
    margin: 10px 0px;
  }
}

.portafolio {
  background-image: url(../assets/img/fondoservicio1s.jpg);
}
.portafolio h4 {
  padding-top: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 14px #ffffff;
  font-size: 34px;
}
.portafolio div {
  text-align: center;
}
.portafolio div img {
  width: 150px;
  height: 100px;
}
.portafolio p {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-shadow: 3px 3px 14px #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .portafolio p {
    font-size: 16px;
  }
}
.portafolio .container .row .col {
  border: solid 0.5px;
  margin: 10px;
  padding-top: 15px;
  transition: 1s;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.portafolio .container .row .col:hover {
  scale: 1.1;
}
.portafolio .container .row .col img {
  width: 385px;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .portafolio .container .row .col img {
    width: 300px;
    height: 220px;
  }
}
@media screen and (min-width: 994px) and (max-width: 1200px) {
  .portafolio .container .row .col img {
    width: 220px;
    height: 160px;
  }
}

/*# sourceMappingURL=style.css.map */
