* {
  margin: 0;
  padding: 0;
  overflow-wrap: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.mainIndex {
  background-image: url(../assets/img/index.jpg);
  background-size: cover;
  background-position: center;
  height: 960px;
  width: 100%;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex {
    height: 780px;
    background-position: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .mainIndex {
    height: 750px;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .mainIndex {
    height: 700px;
    background-position: center;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .mainIndex {
    height: 800px;
    background-position: center;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .mainIndex {
    height: 800px;
    background-position: center;
  }
}
@media screen and (min-width: 1401px) {
  .mainIndex {
    height: 900px;
    background-position: center;
  }
}
.mainIndex .titulo {
  text-align: center;
  margin: 20% 0;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex .titulo {
    margin: 50% 0;
  }
}
.mainIndex .titulo p {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 14px white;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex .titulo p {
    font-size: 30px;
  }
}
.mainIndex .titulo h1 {
  color: aliceblue;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 0 0 14px white;
  margin: -30px;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex .titulo h1 {
    font-size: 30px;
  }
}
.mainIndex .titulo .scrollDown {
  margin-top: 160px;
  font-size: 16px;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .mainIndex .titulo .scrollDown {
    margin-top: 250px;
    font-size: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .mainIndex .titulo .scrollDown {
    margin-top: 100px;
  }
}

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: "";
  display: inline-block;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  vertical-align: top;
  width: 20px;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --clr-main: transparent;
  --clr-main-light: #a1a1a1;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #961818;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 a {
  text-decoration: none;
  color: var(--clr-white);
}

/* NAV */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  color: var(--clr-white);
  background-color: var(--clr-main);
}

.nav-menu,
.nav-menu-iconos {
  display: flex;
  gap: 2rem;
  color: var(--clr-white);
}

.nav-menu-iconos {
  display: flex;
  gap: 2rem;
  color: var(--clr-white);
  margin-right: 40px;
}

.nav-menu-derecha {
  display: flex;
  margin-top: -25px;
}

.logo {
  width: 120px;
  margin-top: -15px;
  position: fixed;
}

.boton-nav {
  background-color: transparent;
  border: 0;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 0.85rem;
  width: 100%;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.04rem;
}

.boton-nav.active {
  background-color: var(--clr-white);
  color: var(--clr-main);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
}

.header-mobile {
  display: none;
}

.nav-mobile {
  display: none;
}

.disabled {
  display: none;
}

.close-menu,
.close-nav {
  display: none;
}

@media screen and (max-width: 900px) {
  .header-mobile {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-mobile .logo {
    color: var(--clr-white);
  }
  /* NAV MENU */
  .nav-mobile {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-mobile .logo {
    color: var(--clr-white);
  }
  .open-nav {
    background-color: transparent;
    color: var(--clr-white);
    border: 0;
    font-size: 2rem;
    cursor: pointer;
  }
  .nav-visible {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .close-nav {
    background-color: var(--clr-main);
    color: var(--clr-white);
    border: 0;
    font-size: 2rem;
    display: contents;
  }
  nav {
    position: fixed;
    z-index: 9;
    background-color: rgb(47, 47, 158);
    color: var(--clr-white);
    left: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.75);
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    width: 100%;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 30px auto;
  }
  .nav-menu-iconos {
    display: none;
  }
  .boton-nav {
    background-color: var(--clr-main);
    color: var(--clr-white);
  }
  .header-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .boton-menu {
    margin-top: -0.3rem;
  }
}
.proyectos .containerProyectos {
  width: 90%;
  text-align: center;
  margin: 60px auto;
  padding: 40px 1px;
  box-shadow: 0 0 10px black;
  border-radius: 1rem;
}
.proyectos .containerProyectos h2 {
  color: blueviolet;
  text-shadow: 1px 1px 8px rgb(171, 129, 211);
}
.proyectos .containerProyectos .container-portafolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1450px;
  margin: 50px auto;
}
.proyectos .containerProyectos .container-portafolio p {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: justify;
  margin: 20px;
}
.proyectos .containerProyectos .container-portafolio .tarjeta-portafolio {
  width: 400px;
  height: max-content;
  background-color: rgba(163, 163, 163, 0.8);
  border: solid 1px white;
  margin: 40px;
  border-radius: 10px;
  transition: all 1s;
}
.proyectos .containerProyectos .container-portafolio .tarjeta-portafolio .imagen-pages {
  display: flex;
  justify-content: center;
}
.proyectos .containerProyectos .container-portafolio .tarjeta-portafolio .imagen-pages img {
  margin-top: 30px;
  width: 95%;
  border-radius: 10px 10px 0 0;
}
.proyectos .containerProyectos .container-portafolio .tarjeta-portafolio .logo-pages {
  display: flex;
  justify-content: center;
}
.proyectos .containerProyectos .container-portafolio .tarjeta-portafolio .logo-pages img {
  margin: 30px 0;
  width: 95%;
  border-radius: 0 0 1rem 1rem;
}
.proyectos .containerProyectos .container-portafolio .col img {
  width: 12rem;
}
.proyectos .containerProyectos .container-portafolio .col h3 {
  color: blueviolet;
  text-shadow: 1px 1px 8px rgb(171, 129, 211);
}
.proyectos .containerProyectos .container-portafolio .col a .certificados {
  width: 14rem;
  height: 10rem;
}

.tarjeta-portafolio:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 39px 1px rgba(255, 255, 255, 0.75);
}

@media screen and (min-width: 380px) and (max-width: 768px) {
  .portafolio {
    padding: 20px 0;
  }
}
.estudiosRealizados {
  background-image: url(../assets/img/fondoservicio1s.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px;
}
.estudiosRealizados h2 {
  color: aliceblue;
  text-align: center;
  text-shadow: 1px 1px 10px #929292;
}
@media screen and (max-width: 737px) {
  .estudiosRealizados h2 {
    font-size: 1rem;
  }
}
.estudiosRealizados .estudios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}
.estudiosRealizados .estudios .recuadroEstudios {
  text-align: center;
  width: 350px;
  height: 450px;
  margin: 50px 20px;
  padding-top: 30px;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px black;
}
@media screen and (max-width: 877px) {
  .estudiosRealizados .estudios .recuadroEstudios {
    text-align: center;
    width: 280px;
    height: 350px;
    margin: 10px;
    padding-top: 0;
  }
}
@media screen and (max-width: 733px) {
  .estudiosRealizados .estudios .recuadroEstudios {
    width: 200px;
    height: 250px;
    margin: 10px;
    padding-top: 0;
  }
}
.estudiosRealizados .estudios .recuadroEstudios .iconos {
  width: 100px;
  height: 80px;
}
.estudiosRealizados .estudios .recuadroEstudios p {
  font-size: 18px;
  text-shadow: 1px 1px 10px #929292;
  padding: 30px 0;
  font-weight: 400;
  text-align: center;
  color: aliceblue;
}
@media screen and (max-width: 877px) {
  .estudiosRealizados .estudios .recuadroEstudios p {
    padding: 0;
    font-size: 12px;
  }
}
.estudiosRealizados .estudios .recuadroEstudios a .certificados {
  width: 180px;
  height: 140px;
}
@media screen and (max-width: 737px) {
  .estudiosRealizados .estudios .recuadroEstudios a .certificados {
    width: 120px;
    height: 80px;
  }
}
@media screen and (max-width: 576px) {
  .estudiosRealizados .estudios .recuadroEstudios {
    margin: 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .estudiosRealizados .estudios .recuadroEstudios {
    margin: 20px;
  }
}

footer {
  text-align: center;
  box-shadow: 0 0 10px black;
}
footer div {
  margin-top: 30px;
}
footer div a img {
  width: 120px;
  padding: 30px;
  transition: 1s;
}
footer div a img:hover {
  scale: 1.1;
}

.infoPersonal {
  display: flex;
  justify-content: center;
}
.infoPersonal .sobreMi {
  background-color: rgb(51, 49, 49);
  color: aliceblue;
  text-align: center;
  margin: 60px;
  font-size: 20px;
  border-radius: 30px;
  max-width: 1300px;
  text-shadow: 2px 2px 10px #ffffff;
  box-shadow: 0 0 10px black;
}
.infoPersonal .sobreMi h3 {
  padding-top: 10px;
}
.infoPersonal .sobreMi img {
  width: 150px;
  border-radius: 10em;
}
.infoPersonal .sobreMi p {
  margin: 0 auto;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .infoPersonal .sobreMi p {
    width: 768px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .infoPersonal .sobreMi p {
    width: 576px;
    margin: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 575px) {
  .infoPersonal .sobreMi p {
    width: 320px;
    margin: 20px;
    font-size: 16px;
  }
}
.infoPersonal .sobreMi .CV {
  margin: 20px;
}
.infoPersonal .sobreMi .CV .descargarCV {
  background-color: blueviolet;
  text-decoration: none;
  color: aliceblue;
  padding: 8px;
  border-radius: 25px;
  margin-top: 200px;
  box-shadow: 0 0 20px rgb(177, 118, 231), 2px 2px blueviolet;
}

div .form {
  width: 800px;
  margin: 0 auto;
  padding: 0px 35px;
  border-radius: 3px;
}
div .form .form-header .form-title {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
}
div .form .form-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  padding: 10px;
  text-align: left;
}
div .form .form-input {
  resize: vertical;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 12px;
}
div .form .form-texarea {
  resize: vertical;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
}
div .form .botones-form {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
  padding: 10px 50px;
  font-size: 16px;
  border: none;
  background-color: rgb(177, 118, 231);
  color: white;
  transition-duration: 1s;
  border-radius: 0.7em;
  cursor: pointer;
  transition: all 0.5sg ease;
}
div .form .botones-form:hover {
  background-color: blueviolet;
  box-shadow: 0 0 20px rgb(177, 118, 231), 2px 2px blueviolet;
}
@media screen and (max-width: 576px) {
  div .form {
    width: 340px;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  div .form {
    width: 500px;
    padding: 5px 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  div .form {
    width: 700px;
    padding: 5px 25px;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  div .form {
    max-width: 950px;
  }
}
@media screen and (min-width: 1201px) {
  div .form {
    max-width: 1100px;
  }
}

.exitos {
  background-image: url(../assets/img/index.jpg);
  background-size: cover;
  background-position: center;
  height: 960px;
  width: 100%;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .exitos {
    height: 780px;
    background-position: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .exitos {
    height: 750px;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .exitos {
    height: 700px;
    background-position: center;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .exitos {
    height: 800px;
    background-position: center;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .exitos {
    height: 800px;
    background-position: center;
  }
}
@media screen and (min-width: 1401px) {
  .exitos {
    height: 900px;
    background-position: center;
  }
}
.exitos div {
  text-align: center;
  margin: 20% 0;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .exitos div {
    margin: 50% 0;
  }
}
.exitos div h1 {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0 0 14px white;
  margin: -30px;
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .exitos div h1 {
    font-size: 30px;
  }
}

.tecnologias {
  background-image: url(../assets/img/fondoservicios.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
@media screen and (max-width: 1215px) {
  .tecnologias {
    padding: 30px 0;
  }
}
.tecnologias div {
  max-width: 1240px;
  margin: 0 auto;
}
.tecnologias div .parrafoHabilidad {
  margin: 60px;
}
.tecnologias div .parrafoHabilidad h3 {
  color: white;
  text-align: left;
}
.tecnologias div .parrafoHabilidad p {
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.tecnologias div .habilidad {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  min-width: 450px;
}
.tecnologias div .habilidad .contenedorHabilidad {
  padding: 35px 100px;
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 8px;
  border-radius: 1rem;
}
@media screen and (max-width: 1215px) {
  .tecnologias div .habilidad .contenedorHabilidad {
    padding: 35px 60px;
  }
}
@media screen and (max-width: 975px) {
  .tecnologias div .habilidad .contenedorHabilidad {
    padding: 25px 40px;
  }
}
.tecnologias div .habilidad .contenedorHabilidad .imgHabilidades {
  width: 150px;
}
@media screen and (max-width: 975px) {
  .tecnologias div .habilidad .contenedorHabilidad .imgHabilidades {
    width: 100px;
  }
}
.tecnologias div h3 {
  text-align: center;
}
.tecnologias div .habilidades {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.tecnologias div .habilidades .imgHabilidades {
  width: 100px;
}
.tecnologias div .habilidades h4 {
  text-align: center;
}
.tecnologias h4 {
  padding-top: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px 14px #ffffff;
  font-size: 34px;
  margin: 20px;
}

/*# sourceMappingURL=style.css.map */
