footer {
    text-align: center;
    div {
        margin: 30px;
        a {
            
            img {
                width: 120px;
                padding: 30px;
                transition: 1s;
            &:hover {
                scale: 1.1;
            }
            }
        }
    }
}