.contenedor {
    padding: 100px;
    background-image: url(../Assets/img/contacto2.jpg);
    background-size: cover;
    height: 960px;
    width: 100%;
    .form {
        background: rgba(0,0,0,.4);
        width: 600px;
        max-width: auto;
        margin: auto;
        padding: 5px 35px;
        margin-top: 30px;
        padding-top: 30px;
        border-radius: 3px;
        .formHeader {
            h1 {
                font-weight: normal;
                font-family: sans-serif;
                color: #fff;
                text-align: center;
                padding: 14px 0;
            }
        }
        .formLabel {
            display: block;
            color: #49C97C;
            font-size: 16px;
            font-weight: bold;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            position: relative;
            padding: 10px;
        }
        .formInput {
            background: rgba(0,0,0,.7);
            color: white;
            border: none;
            outline: none;
            border-bottom: 2px solid #2F8233;
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border-radius: 2px;
            font-size: 14px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        .formTexarea {
            background: rgba(0,0,0,.7);
            color: white;
            border: none;
            outline: none;
            border-bottom: 2px solid #2F8233;
            width: 100%;
            padding: 12px;
            margin-bottom: 20px;
            border-radius: 2px;
            font-size: 14px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            resize: vertical;
            max-height: 150px;
            min-height: 50px;
        }
        .botonesForm {
            width: 100%;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            outline: none;
            background-color: #49C97C;
            font-size: 16px;
            border: none;
            color: #fff;
            cursor: pointer;
            transition: all .5sg ease;
            &:hover {
                background: #2F8233;
            }
        }
    }
}