
.mainIndex {
    background-image: url(../assets/img/index.jpg);
    background-size: cover;
    background-position: center;
    height: 960px;
    width: 100%;
    @media screen and (min-width: 350px) and (max-width: 575px) { 
        height: 450px;
        background-position: center;
        }
    @media screen and (min-width: 576px) and (max-width: 768px) { 
        height: 600px;
        background-position: center;
        }
    @media screen and (min-width: 768px) and (max-width: 992px) { 
        height: 700px;
        background-position: center;
        }
    @media screen and (min-width: 993px) and (max-width: 1200px) { 
        height: 800px;
        background-position: center;
        }
    @media screen and (min-width: 1201px) and (max-width: 1400px) { 
        height: 800px;
        background-position: center;
        }
    @media screen and (min-width: 1401px) { 
        height: 900px;
        background-position: center;
        }
    .titulo {
        text-align: center;
        margin: 20% 0;
        p {
            color: aliceblue;
            font-size: 40px;
            font-weight: bold;
            text-shadow: 0 0 14px white;
            @media screen and (min-width: 350px) and (max-width: 575px) { 
                font-size: 30px;
                }
        }
        h1 {
            color: aliceblue;
            font-size: 100px;
            font-weight: bold;
            text-shadow: 0 0 14px white;
            margin: -30px;
            @media screen and (min-width: 350px) and (max-width: 575px) { 
                font-size: 70px;
                }
        }
        .scrollDown {
            margin-top: 160px;
            font-size: 16px;
            @media screen and (min-width: 350px) and (max-width: 575px) { 
                margin-top: 80px;
                font-size: 10px;
                }
            @media screen and (min-width: 576px) and (max-width: 768px) { 
                margin-top: 100px;
        }
        }
    }
}


.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 20px;
    color: white;
}
*, *:before, *:after {
    box-sizing: border-box;
}