.portafolio {
    background-image: url(../assets/img/fondoservicio1s.jpg);
    background-size: cover;
    background-position: center;
    h4 {
        padding-top: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px 14px #ffffff;
        font-size: 34px;
        margin: 20px;
    }
    .container {
    .row {
        padding: 7rem 20px;
        .card {
            margin: 30px auto;
            max-width: 330px;
            background-color: rgb(104, 104, 104);
            -webkit-box-shadow: 11px 11px 8px -4px rgba(0,0,0,0.54);
            -moz-box-shadow: 11px 11px 8px -4px rgba(0,0,0,0.54);
            box-shadow: 11px 11px 8px -4px rgba(0,0,0,0.54);
            transition: 1s;
            &:hover {
                scale: 1.05;
            }

            .indexport {
                margin: 0 auto;
                padding-top: 10px;
                width: 300px;
                height: 200px;
            }
            .logoport {
                width: 200px;
                height: 100px;
                margin: 0 auto;
            }
            div {
                margin: 0 auto;
                width: 295px;
                text-align: center;
                p {
                    color: #ffffff;
                }
                a {
                    border: none;
                    background-color:rgb(177, 118, 231) ;
                    font-size: 16px;
                    color: white;
                    transition-duration: 1s;
                    &:hover {
                        background-color: blueviolet;
                        box-shadow: 0 0 20px rgb(177, 118, 231), 2px 2px blueviolet;
                    }
                }
            }
        }
    }
}
}