.portafolio {
    background-image: url(../assets/img/fondoservicio1s.jpg);
    h4 {
        padding-top: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px 14px #ffffff;
        font-size: 34px;
    }
    div {
        text-align: center;
        img {
            width: 150px;
            height: 100px;
        }
    }
    
    p {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        text-shadow: 3px 3px 14px #ffffff;
        
        @media screen and (min-width: 320px) and (max-width: 575px) { 
            font-size: 16px;
            }
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
    .container {
        .row {
            .col {
                margin: 10px;
                padding-top: 15px;
                transition: 1s;
                text-align: center;
                background: rgba(0,0,0,.2);
                border-radius: 10px;
                &:hover {
                    scale: 1.1;
                }
                img {
                    width: 385px;
                    height: 250px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    @media screen and (min-width: 1201px) and (max-width: 1399px) { 
                        width: 300px;
                    height: 220px;
                    
                        }
                    @media screen and (min-width: 994px) and (max-width: 1200px) { 
                        width: 220px;
                        height: 160px;
                    
                        }
                }
            }
            
        }
    }
}