
    .container-portafolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 1450px;
        margin: 100px auto;
        
            p {
                margin: 40px;
                font-weight: bold;
                font-size: 1.125rem;
                line-height: 1.75rem;
            }
        .tarjeta-portafolio {
            width: 400px;
            height: max-content;
            background-color: rgba(163, 163, 163, 0.8);
            border: solid 1px white;
            margin: 40px;
            border-radius: 1.5rem;
            
            transition: all 1s;
            .imagen-pages {
                display: flex;
                justify-content: center;
                img {
                    margin-top: 30px;
                    width: 95%;
                    border-radius: 1rem 1rem 0 0;
                    
                }
            }
            .logo-pages {
                display: flex;
                justify-content: center;
                img {
                    margin: 30px 0;
                    width: 95%;
                    border-radius: 0 0 1rem 1rem;
                }
            }
        }
    }

.tarjeta-portafolio:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 39px 1px rgba(255,255,255,0.75);
}

@media screen and (min-width: 380px) and (max-width: 768px){
    .portafolio {
        padding: 20px 0;
    }
    }
