.tarjetaServicios {
    background-image:url(../assets/img/fondoservicios.jpg);
    background-size: cover;
    padding: 40px;
    .contacto {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-around;
        align-content: space-around;
        margin: 0 auto;
        .recuadro-contacto {
            text-align: center;
            width: 350px;
            height: 450px;
            margin: 50px 20px;
            padding-top: 30px;
            background: rgba(0,0,0,.3);
            box-shadow: 0 0 10px black;
                img {
                    width: 100px;
                    height: 80px;
                }
                h4 {
                    color: aliceblue; 
                }
            p {
                font-size: 18px;
                text-shadow: 1px 1px 10px #929292;
                padding: 30px 0;
                font-weight: bold;
                text-align: center;
                color: aliceblue;
            }
            @media screen and (max-width:576px) {
                margin: 10px;
                }
                
            @media screen and (min-width: 577px) and (max-width: 768px){
                margin: 20px;
                }
        }
    }
}
