.tarjetaServicios {
    background-image:url(../../assets/img/fondoservicios.jpg);
    background-size: cover;
    padding: 40px;
    .container {
        h2 {
            color: #ebebeb;
            background-color: transparent;
        }
    .row {
    margin: 30px;        
    .recuadroContacto {
        text-align: center;
        width: 350px;
        height: 420px;
        margin: 20px;
        padding-top: 30px;
        background-color: #ebebeb;
        background: rgba(0,0,0,.5);
        box-shadow: 0 0 10px #000000, 1px 1px #000000;
        color: #000000;
        border-radius: 10px;

            a {
                text-decoration: none;
                color: #000000;
                .iconos {
                    width: 120px;
                    height: 120px;
                }
                p {
                    font-size: 18px;
                    text-shadow: 1px 1px 10px #929292;
                    padding: 15px 10px;
                    font-weight: bold;
                    width: auto;
                    color: #ebebeb;
                    text-shadow: 3px 3px 14px #ffffff;
                }
            }
        
    }
}
}
}
